@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav ul a {
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav a {
  color: inherit;
  font-size: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav ul a.active {
  background-color: green;
}

.nav li:hover {
  background-color: #555;
}