.companyCard {
  margin: 2rem 4rem 2rem 4rem;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: white;
  color: black;
  cursor: pointer;
}

.companyCard:hover {
  transform: scale(1.1);
  background-color: rgb(105, 152, 139);
  color: white;
}

.companyCard:hover .forP2 {
  color: white;
}

.companyCard:hover .forP1 {
  color: black;
}

.companyCard:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: inherit;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 2s ease-in-out;

  position: relative;
  z-index: 1;
  left: 0;
  top: 110%;
}

.companyCard:hover:before {
  opacity: 1;
  visibility: visible;
}

.post {
  font-weight: 800;
  font-size: 1.5rem;
}

.cardTitle {
  font-weight: 800;
  font-size: 1rem;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.jobType {
  margin: 0rem 2rem;
}

.ctc {
  margin: 0rem 2rem;
}

.location {
  margin: 0rem 2rem;
}

.link {
  color: #fff;
  cursor: initial;
}

.locations {
  width: 100px;
  word-wrap: normal;
}

.forP1 {
  font-size: large;
  font-weight: 500;
  color: black;
}

.forP2 {
  font-size: large;
  font-weight: 500;
  color: black;
}
