.companyHomeBody {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://i.postimg.cc/YjcJg24M/aa.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}

.buttonRegister {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.innerBox {
  width: 25%;
  border-width: 5px;
  border-color: red;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  display:flex;
  flex-direction: column;
}


